<div class="footer">
  <div class="footer-links">
    <h5 class="pt-2 me-3">SÍGUENOS:</h5>
    <a href="#" class="mx-2"><i class="fab fa-instagram"></i></a>
    <a href="#" class="mx-2"><i class="fab fa-facebook"></i></a>
    <a href="#" class="mx-2"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
  <br>
    <h5>CONTÁCTANOS:</h5>
    <h5>Renta Games:video_game:</h5>
    <h5>Calle 80 #66b-80</h5>
    <h5>3245698985</h5>
  </div>
</div>
