
<div class="banner">
  <div class="container">
    <h1>RENTA GAMES!</h1>
    <p>Aqui puedes rentar todos los videojuegos que quiera para cualquier tipo de consola</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<% @games.each do |game| %>
  <div class="cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))">
       <%= link_to game.name, game_path(game)%>
    </div>
  </div>
<%end %>
