
<div class="banner">
  <div class="container">
    <h1>RENTA GAMES!</h1>
    <p>Aqui puedes rentar todos los videojuegos que quiera para cualquier tipo de consola</p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>


<% @games.each do |game| %>
<%= games.name %>
<%= game.available %>
<%end %>

<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.pandaancha.mx/plds/articulos/froala/m-2560x1512-194355442.jpg)">
    Terror
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://http2.mlstatic.com/D_NQ_NP_813644-MLC50021662545_052022-V.jpg)">
    Estrategia
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://tus-videojuegos.com/wp-content/uploads/2021/04/juegos-ps3.jpeg)">
    Ficcion
  <%# /*<%= link_to "Play2",game_path(game)  %>
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://imagenes.elpais.com/resizer/0Q6nnWs6iXwsRzOMa607nK1nwIc=/414x311/ep01.epimg.net/tecnologia/imagenes/2016/04/13/actualidad/1460566371_922647_1460571574_noticia_fotograma.jpg)">
    Simulacion
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://phantom-marca.unidadeditorial.es/33f3f78a2b443abea7f623b8d0a2c271/crop/0x0/1916x1078/resize/1200/f/webp/assets/multimedia/imagenes/2021/12/13/16393994152393.jpg)">
    Deporte
  </div>

  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.hardmaniacos.com/wp-content/uploads/2019/09/Emulador-Nintendo-DS.jpg)">
    Clasico
  </div>
</div>
