<% desc = @game.description ? @game.description : '' %>
<% img = @game.photo.attached? ? @game.photo.key : "defaultgame" %>
<div class="row my-3 p-3">
  <div class="col-6">
    <%= cl_image_tag img, width: 500, crop: :fill %>
  </div>
   <div class="col-6">
    <h2><strong><%= @game.name.capitalize %></strong></h2>
    <p><%= desc %></p>
    <%= render "/orders/form", game: @game, order: @order, collection: @collection %>
  </div>
</div>

<%# <div class="d-grid gap-2">
  <a class="btn btn-primary">Alquilar</a>
</div> %>
