<h2>Juegos de <%= @title %></h2>
<div class="container">
  <div class="cards my-3">
    <% @games.each do |game| %>
      <% img = game.photo.attached? ? game.photo.key : "defaultgame" %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path img %>')">
          <%= link_to game.name, game_path(game)%>
        </div>
    <%end %>
  </div>
</div>
