.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar-game {
  justify-content: space-between;
  background: #0D0E1F;
}

.navbar-game .navbar-collapse {
  flex-grow: 0;
}

.navbar-game .navbar-brand img {
  width: 50px;
}

.nav-link {
  color: #e1dddd;
  font-weight: bold;
  &:hover {
    color: white;
  }
}
